.vscode/**
**/.DS_Store
frontend/node_modules
frontend/build
frontend/.svelte-kit
frontend/package
**/.env
**/.env.*
!.env.example
**/.log
backend/scheduling/results.json
backend/scheduling/testdata.json
db.sqlite3
**/__pycache__
client_secret.json
